body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

header {
    text-align: center;
    background-color: rgb(143, 151, 157);
    border-radius: 1rem;
    padding: 1px;
}

h1 {
    text-wrap: unset;
    color: #333;
}

section {
    margin: 20px 0;
}

h2 {
    text-align: center;
    color: #333;
}

ul {
    text-wrap: unset;
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

.portrait {
    border-radius: 80px;
}

.education, .experience, .skills {
    margin-bottom: 30px;
}

table {
    border-collapse: collapse;
    margin: 10px auto;
}

tr, td {
    width: auto;
    border: 1px solid rgba(221, 221, 221, 0);
    padding: 0 5% 0 0;
}

tr {
    background-color: rgba(221, 221, 221, 0);
}


footer {
    text-align: center;
    margin-top: 20px;
    padding: 10px;
    border-radius: 1rem;
    background-color: #f2f2f2;
}